<!-- NAVBAR -->
<nav>
  <div class="container">
    <a href="#" class="brand">Smartify</a>
    <ul class="nav-menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Courses</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Testimonials</a></li>
      <li><a href="#">Subscribe</a></li>
      <li class="login"><a href="#">Login</a></li>
      <li class="signup"><a href="#">Signup</a></li>
    </ul>
    <i class='bx bx-menu toggle-menu'></i>
  </div>
</nav>
<!-- NAVBAR -->

