<div class="container-fluid py-5">
  <div class="row g-4 justify-content-center">
    <div class="col-lg-6 col-md-8 bg-secondary rounded p-4">
      <img class="img-fluid mb-4"  src="/assets/product.PNG" alt="Product Image">
      <h2 class="mb-4">{{ product.name }}</h2>
      <p class="mb-4">{{ product.description }}</p>
      <ul class="list-unstyled mb-4">
        <li><strong>Price:</strong> ${{ product.price }}</li>
        <li><strong>Producer:</strong> {{ product.producer }}</li>
        <li><strong>Quantity Available:</strong> {{ product.quantityAvailable }}</li>
        <li><strong>Is Rental:</strong> {{ product.isRental ? 'Yes' : 'No' }}</li>
        <li><strong>Categorie :</strong> {{ product.category?.name }}</li>
        <li><strong>Promotion:</strong> {{ product.promotion }}</li>

      </ul>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-secondary me-md-2" routerLink="/admin/items">Back</button>
      </div>
    </div>
  </div>
</div>
