<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/assets/front/style.css">
  <title>Smartify Landing Page</title>
</head>
<body>
<app-header-user></app-header-user>
<router-outlet></router-outlet>
<app-footer-user></app-footer-user>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="/assets/front/script.js"></script>
</body>
</html>
