<div class="container-fluid py-5">
  <div class="row g-4 justify-content-center">
    <div class="col-lg-6 col-md-8 bg-secondary rounded p-4">
      <img class="img-fluid mb-4" src="/assets/product.PNG" alt="Cat Image">
      <h2 class="mb-4">{{ category.name }}</h2>
      <ul class="list-unstyled mb-4">
        <li><strong>Description:</strong> {{ category.description }}</li>
        <li><strong>Code:</strong> {{ category.code }}</li>
      </ul>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-secondary me-md-2" routerLink="/admin/cat">Back</button>
      </div>
    </div>
  </div>
</div>
