<!-- HEADER -->
<header>
  <div class="container">
    <div class="left">
      <h1>Smartify Increase Your Knowledge</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dicta recusandae expedita maxime debitis nostrum possimus animi excepturi, fuga ipsum.</p>
      <a href="#" class="btn">Explore course</a>
    </div>
    <div class="right">
      <img src="assets/front/img/img_header.png" alt="Image">
    </div>
  </div>
</header>
<!-- HEADER -->
<!-- INFO -->
<section id="info">
  <div class="container">
    <ul>
      <li>
        <h3>300+</h3>
        <p>Total Courses</p>
      </li>
      <li>
        <h3>500+</h3>
        <p>Total Teachers</p>
      </li>
      <li>
        <h3>50k+</h3>
        <p>Total Students</p>
      </li>
      <li>
        <h3>30k+</h3>
        <p>Total Seat</p>
      </li>
    </ul>
  </div>
</section>
<!-- INFO -->

<!-- COURSE -->
<section id="courses">
  <div class="container">
    <div class="top">
      <h2>Popular Course</h2>
      <a href="#">View more</a>
    </div>
    <div class="courses">
      <div class="card">
        <div class="head">
          <img src="https://images.unsplash.com/photo-1600195077909-46e573870d99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Image">
          <span class="user">John Doe</span>
        </div>
        <div class="body">
          <a class="title" href="#">Lorem ipsum dolor sit</a>
          <div class="info">
            <span class="price">$500</span>
            <span class="rating"><i class='bx bxs-star' ></i> 4.0</span>
          </div>
          <div class="data">
            <span class="video-total"><i class='bx bx-play-circle' ></i> 20 videos</span>
            <span class="user-total"><i class='bx bx-user-circle' ></i> 100 users</span>
          </div>
        </div>
        <div class="bottom">
          <a href="#" class="btn">Buy now</a>
          <a href="#" class="wishlist"><i class='bx bxs-heart' ></i></a>
        </div>
      </div>
      <div class="card">
        <div class="head">
          <img src="https://images.unsplash.com/photo-1600195077909-46e573870d99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Image">
          <span class="user">John Doe</span>
        </div>
        <div class="body">
          <a class="title" href="#">Lorem ipsum dolor sit</a>
          <div class="info">
            <span class="price">$500</span>
            <span class="rating"><i class='bx bxs-star' ></i> 4.0</span>
          </div>
          <div class="data">
            <span class="video-total"><i class='bx bx-play-circle' ></i> 20 videos</span>
            <span class="user-total"><i class='bx bx-user-circle' ></i> 100 users</span>
          </div>
        </div>
        <div class="bottom">
          <a href="#" class="btn">Buy now</a>
          <a href="#" class="wishlist"><i class='bx bxs-heart' ></i></a>
        </div>
      </div>
      <div class="card">
        <div class="head">
          <img src="https://images.unsplash.com/photo-1600195077909-46e573870d99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Image">
          <span class="user">John Doe</span>
        </div>
        <div class="body">
          <a class="title" href="#">Lorem ipsum dolor sit</a>
          <div class="info">
            <span class="price">$500</span>
            <span class="rating"><i class='bx bxs-star' ></i> 4.0</span>
          </div>
          <div class="data">
            <span class="video-total"><i class='bx bx-play-circle' ></i> 20 videos</span>
            <span class="user-total"><i class='bx bx-user-circle' ></i> 100 users</span>
          </div>
        </div>
        <div class="bottom">
          <a href="#" class="btn">Buy now</a>
          <a href="#" class="wishlist"><i class='bx bxs-heart' ></i></a>
        </div>
      </div>
      <div class="card">
        <div class="head">
          <img src="https://images.unsplash.com/photo-1600195077909-46e573870d99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Image">
          <span class="user">John Doe</span>
        </div>
        <div class="body">
          <a class="title" href="#">Lorem ipsum dolor sit</a>
          <div class="info">
            <span class="price">$500</span>
            <span class="rating"><i class='bx bxs-star' ></i> 4.0</span>
          </div>
          <div class="data">
            <span class="video-total"><i class='bx bx-play-circle' ></i> 20 videos</span>
            <span class="user-total"><i class='bx bx-user-circle' ></i> 100 users</span>
          </div>
        </div>
        <div class="bottom">
          <a href="#" class="btn">Buy now</a>
          <a href="#" class="wishlist"><i class='bx bxs-heart' ></i></a>
        </div>
      </div>
      <div class="card">
        <div class="head">
          <img src="https://images.unsplash.com/photo-1600195077909-46e573870d99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Image">
          <span class="user">John Doe</span>
        </div>
        <div class="body">
          <a class="title" href="#">Lorem ipsum dolor sit</a>
          <div class="info">
            <span class="price">$500</span>
            <span class="rating"><i class='bx bxs-star' ></i> 4.0</span>
          </div>
          <div class="data">
            <span class="video-total"><i class='bx bx-play-circle' ></i> 20 videos</span>
            <span class="user-total"><i class='bx bx-user-circle' ></i> 100 users</span>
          </div>
        </div>
        <div class="bottom">
          <a href="#" class="btn">Buy now</a>
          <a href="#" class="wishlist"><i class='bx bxs-heart' ></i></a>
        </div>
      </div>
      <div class="card">
        <div class="head">
          <img src="https://images.unsplash.com/photo-1600195077909-46e573870d99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Image">
          <span class="user">John Doe</span>
        </div>
        <div class="body">
          <a class="title" href="#">Lorem ipsum dolor sit</a>
          <div class="info">
            <span class="price">$500</span>
            <span class="rating"><i class='bx bxs-star' ></i> 4.0</span>
          </div>
          <div class="data">
            <span class="video-total"><i class='bx bx-play-circle' ></i> 20 videos</span>
            <span class="user-total"><i class='bx bx-user-circle' ></i> 100 users</span>
          </div>
        </div>
        <div class="bottom">
          <a href="#" class="btn">Buy now</a>
          <a href="#" class="wishlist"><i class='bx bxs-heart' ></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- COURSE -->

<!-- FEATURES -->
<section id="features">
  <div class="container">
    <div class="top">
      <h2>Our Features</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, nemo.</p>
    </div>
    <div class="feature-list">
      <div class="feature-item">
        <i class='bx bx-video' ></i>
        <h4>HD Video Course</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea earum iste, distinctio debitis, aspernatur autem. Debitis.</p>
      </div>
      <div class="feature-item">
        <i class='bx bx-award' ></i>
        <h4>Experience Teacher</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea earum iste, distinctio debitis, aspernatur autem. Debitis.</p>
      </div>
      <div class="feature-item">
        <i class='bx bxs-edit-alt' ></i>
        <h4>Exam Test</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea earum iste, distinctio debitis, aspernatur autem. Debitis.</p>
      </div>
    </div>
  </div>
</section>
<!-- FEATURES -->

<!-- TESTIMONIALS -->
<section id="testimonials">
  <div class="container">
    <div class="top">
      <h2>Testimonials</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, nemo.</p>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="head">
            <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80" alt="Image">
            <div class="profile">
              <h5>John Doe</h5>
              <p>Student</p>
            </div>
          </div>
          <p class="text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores possimus consectetur ut eius dolore mollitia eligendi ea, sunt ex unde.
          </p>
          <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="head">
            <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80" alt="Image">
            <div class="profile">
              <h5>John Doe</h5>
              <p>Student</p>
            </div>
          </div>
          <p class="text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores possimus consectetur ut eius dolore mollitia eligendi ea, sunt ex unde.
          </p>
          <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="head">
            <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80" alt="Image">
            <div class="profile">
              <h5>John Doe</h5>
              <p>Student</p>
            </div>
          </div>
          <p class="text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores possimus consectetur ut eius dolore mollitia eligendi ea, sunt ex unde.
          </p>
          <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="head">
            <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80" alt="Image">
            <div class="profile">
              <h5>John Doe</h5>
              <p>Student</p>
            </div>
          </div>
          <p class="text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores possimus consectetur ut eius dolore mollitia eligendi ea, sunt ex unde.
          </p>
          <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="head">
            <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80" alt="Image">
            <div class="profile">
              <h5>John Doe</h5>
              <p>Student</p>
            </div>
          </div>
          <p class="text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores possimus consectetur ut eius dolore mollitia eligendi ea, sunt ex unde.
          </p>
          <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="head">
            <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80" alt="Image">
            <div class="profile">
              <h5>John Doe</h5>
              <p>Student</p>
            </div>
          </div>
          <p class="text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores possimus consectetur ut eius dolore mollitia eligendi ea, sunt ex unde.
          </p>
          <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- TESTIMONIALS -->

<!-- SUBSCRIBE -->
<section id="subscribe">
  <div class="container">
    <div class="wrapper">
      <h2>Subscribe For Get Update Every Course</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, voluptatem!</p>
      <form action="#">
        <div class="form-group">
          <input type="email" placeholder="Email address">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- SUBSCRIBE -->
