<!--<div *ngIf="dashboardData">-->
<!--  <h1>{{ dashboardData.title }}</h1>-->
<!--  <p>{{ dashboardData.description }}</p>-->
<!--  <canvas id="myChart"></canvas>-->
<!--  <ul>-->
<!--    <li *ngFor="let product of dashboardData.topSellingProducts">{{ product.name }} ({{ product.sales }})</li>-->
<!--  </ul>-->
<!--  <ul>-->
<!--    <li *ngFor="let product of dashboardData.lowStockProducts">{{ product.name }} ({{ product.quantityAvailable }})</li>-->
<!--  </ul>-->
<!--</div>-->



<!--<div *ngIf="dashboardData">-->
<!--  <h1>{{ dashboardData.title }}</h1>-->
<!--  <p>{{ dashboardData.description }}</p>-->
<!--  <app-chart [chartData]="dashboardData"></app-chart>-->
<!--  <ul>-->
<!--    <li *ngFor="let product of dashboardData.topSellingProducts">-->
<!--      {{ product.name }} ({{ product.sales }})-->
<!--    </li>-->
<!--  </ul>-->
<!--  <ul>-->
<!--    <li *ngFor="let product of dashboardData.lowStockProducts">-->
<!--      {{ product.name }} ({{ product.quantityAvailable }})-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
