<div class="container">
  <!-- Header -->
  <div class="row mt-5">
    <div class="col-md-8">
      <h1 class="fw-bold">Liste des articles</h1>
    </div>
    <div class="col-md-4 text-end">
      <!-- Import, export, and add buttons -->
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary me-2"><i class="bi bi-upload"></i> Importer</button>
        <button type="button" class="btn btn-outline-primary me-2"><i class="bi bi-download"></i> Exporter</button>
        <a class="btn btn-primary" routerLink="/admin/add"><i class="bi bi-plus"></i> Nouveau</a>
      </div>
    </div>
  </div>

  <!-- Search bar -->
  <div class="row justify-content-center my-4">
    <div class="col-md-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Rechercher des produits par nom" [(ngModel)]="searchValue" (keyup)="searchProducts()">
        <button class="btn btn-primary" type="button" (click)="searchProducts()" aria-label="Rechercher">Recherche</button>
      </div>
    </div>
  </div>
  <!-- Product cards -->
  <div class="row">
    <div class="card-group">
      <!-- Loop through products: cette méthode est utilisée pour sélectionner une partie d'un tableau afin de l'afficher dans une page spécifique lors de la pagination. -->
      <div *ngFor="let p of productList.slice((currentPage-1)*itemsPerPage, currentPage*itemsPerPage)" class="col-md-4 mb-4">
        <div class="card bg-light rounded">
          <img class="card-img-top" src="/assets/product.PNG" alt="Product Image">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <p class="card-text fw-bold">{{p.name}}</p>
              <span class="ms-2"><i class="bi bi-{{p.quantityAvailable > 0 ? 'check-circle text-success' : 'x-circle text-danger'}}"></i></span>
            </div>
            <hr>

            <div class="d-flex justify-content-between mt-3">
              <a class="btn btn-primary" routerLink="/admin/details/{{ p.productId }}"><i class="bi bi-info-circle"></i> Details</a>
              <div>
                <a class="btn btn-primary me-2" routerLink="/admin/promo/{{ p.productId }}"><i class="fas fa-percent me-2"></i> </a>
                <a class="btn btn-primary me-2" routerLink="/admin/edit/{{ p.productId }}"><i class="bi bi-pencil"></i> </a>
                <button class="btn btn-danger" (click)="deleteProduct(p.productId)"><i class="bi bi-trash"></i> </button>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">Mis à jour il y a 3 minutes</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- pagination buttons -->
  <div class="row justify-content-center my-4">
    <div class="col-md-6">
      <div class="btn-toolbar d-flex justify-content-center" role="toolbar">
        <div class="btn-group me-2" role="group">
          <!-- Generate pagination buttons based on the total number of pages -->
          <button *ngFor="let page of totalPages" type="button" class="btn btn-primary"
                  [class.active]="currentPage === page"
                  (click)="currentPage = page">{{page}}</button>
        </div>
      </div>
    </div>
  </div>
  </div>
