<div class="container mt-2">
  <!-- Search bar -->
  <div class="row justify-content-center my-4">
    <div class="col-md-6">
      <div class="input-group" style="width: 100%;">
        <input type="text" class="form-control" placeholder="Search for commands by ID" [(ngModel)]="searchValue">
        <button class="btn btn-primary ms-2" type="button" (click)="searchCmd()" aria-label="Search">Search</button>
      </div>
    </div>
  </div>

  <!-- Command list -->
  <div class="card-group">
    <div class="col">
      <!-- Command details -->
      <div class="card bg-secondary rounded p-3 mb-3" *ngFor="let command of commandList">
        <div class="row">
          <!-- Command information -->
          <div class="col-md-4 border-end">
            <div class="row mb-2">
              <div class="col-auto">
                <i class="fas fa-info-circle text-danger"></i>
                <span class="ms-2 fw-bold command-info-label" aria-label="Invoice Number">
                  Invoice Ref.
                </span>
                <span class="copy-to-clipboard ms-auto" aria-label="Copy Command Reference" (click)="copyToClipboard(command.ref)" [ngClass]="{'copied': isCopied}">
                  <i class="far fa-copy"></i>
                </span>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-auto">
                <i class="fas fa-calendar-check text-danger"></i>
                <span class="ms-2 fw-bold command-info-label" aria-label="Date">
                  Date
                </span>
              </div>
              <div class="col-auto ms-auto command-info-value">
                {{ command.deliveryDate | date: 'dd/MM/yyyy' }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-auto">
                <i class="fas fa-truck-loading text-danger"></i>
                <span class="ms-2 fw-bold command-info-label" aria-label="Weight">
                  Weight
                </span>
              </div>
              <div class="col-auto ms-auto command-info-value">
                {{ command.weight }} Kg
              </div>
            </div>

            <div class="col-auto">
              <span class="fw-bold command-info-label" aria-label="Product Name">
                Status:
              </span>
              <ng-container [ngSwitch]="command.commandType">
                <span *ngSwitchCase="'PENDING'" class="command-status-pending"><i class="fas fa-hourglass-half text-warning"></i> Pending</span>
                <span *ngSwitchCase="'CREATED'" class="command-status-created"><i class="fas fa-check-circle text-success"></i> Confirmed</span>
                <span *ngSwitchCase="'CONFIRMED'" class="command-status-confirmed"><i class="fas fa-check-circle text-success"></i> Confirmed</span>
                <span *ngSwitchCase="'CANCELLED'" class="command-status-cancelled"><i class="fas fa-times-circle text-danger"></i> Cancelled</span>
                <span *ngSwitchDefault class="command-status-unknown"><i class="fas fa-question-circle text-secondary"></i> Unknown</span>
              </ng-container>
            </div>
          </div>



          <!-- Command pricing information -->
          <div class="col-md-4 border-end">
            <div class="row mb-2">
              <div class="col-auto">
                <span class="fw-bold command-info-label" aria-label="Quantity">Weight</span>
              </div>
              <div class="col-auto ms-auto command-info-value">
                {{ command.weight  }} Kg
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-auto">
                <span class="fw-bold command-info-label" aria-label="Unit Price"> Unit Price</span>
              </div>
              <div class="col-auto ms-auto command-info-value">
                {{ command.totalC}} €
              </div>
            </div>
            <div class="col-auto">
              <span class="fw-bold command-info-label" aria-label="Total Price">Total</span>
            </div>
            <div class="col-auto ms-auto command-info-value">
              {{ command.totalC }} €
            </div>
          </div>
        </div>

          <div class="row">
            <div class="col-auto">
              <button class="btn btn-danger btn-sm" (click)="cancelCommand(command.commandeNumber)">Cancel</button>
            </div>
            <div class="col-auto ms-auto">
              <button class="btn btn-secondary btn-sm" (click)="deleteCommand(command.commandeNumber)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

