<div class="container-fluid py-5">
  <div class="row g-4 justify-content-center">
    <div class="col-lg-6 col-md-8 bg-secondary  rounded p-4">
      <form #editItemForm="ngForm" (submit)="updateProduct(product)">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" name="name" id="name" [(ngModel)]="product.name" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" name="description" id="description" [(ngModel)]="product.description" required></textarea>
        </div>
        <div class="row g-3">
          <div class="col-md-6">
            <label for="price" class="form-label">Price</label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input type="number" class="form-control" id="price" placeholder="0.00" [(ngModel)]="product.price" name="price" min="0" step="0.01" required #price="ngModel" [class.is-invalid]="price?.invalid && price?.touched">
            </div>
            <div class="invalid-feedback" *ngIf="price?.invalid && price?.touched">
              Price is required and must be a positive number.
            </div>
          </div>
          <div class="col-md-6">
            <label for="producer" class="form-label">Producer</label>
            <input type="text" class="form-control" name="producer" id="producer" [(ngModel)]="product.producer" required>
          </div>
          <div class="col-md-6">
            <label for="quantityAvailable" class="form-label">Quantity Available</label>
            <input type="number" class="form-control" name="quantityAvailable" id="quantityAvailable" [(ngModel)]="product.quantityAvailable" required>
          </div>
          <div class="col-md-6">
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="isRental" name="isRental" [(ngModel)]="product.isRental">
              <label class="form-check-label" for="isRental">Is Rental?</label>
            </div>
          </div>

        </div>
        <div class="d-grid mt-4">
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
          <button type="submit" class="btn btn-primary"  [disabled]="editItemForm.invalid">Update Item</button>
        </div>
      </form>
    </div>
  </div>
</div>
